<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presentation</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/presentation.css"} />
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    {@inner_content}
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/presentation.js"}></script>
  </body>
</html>